{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ transaction_group.name }} | Split{% endblock %}

{% block hidden %}
    <input type="hidden" name="transaction-group-share-url" id="transaction-group-share-url" value="{% url 'api:transaction_group_summary' transaction_group.pk %}">
    <input type="hidden" name="transaction-group-currency" id="transaction-group-currency" value="{{ transaction_group.currency }}">
{% endblock %}

{% block body %}
    {% for transaction in page_obj %}
        <div class="floating-popup-container hidden" id="transaction-popup-container-{{ transaction.pk }}">
            <div class="floating-popup flexbox-column pad-20 hide-scrollbar">
                <div class="flexbox-row jcsb aic" style="flex-wrap: nowrap;">
                    <div class="flexbox-column">
                        <strong style="font-size: 1.2rem;">{{ transaction.title }}</strong>
                        <span>by {{ transaction.by.username }}</span>
                    </div>
                    <strong style="font-size: 1.5rem;">{{ transaction_group.currency }}{{ transaction.get_amount }}</strong>
                </div>
                <hr>
                {% if transaction.is_internal_payment %}
                <span style="font-family: var(--monospace-font);">{{ transaction.by.username }} paid {{ transaction_group.currency }}{{ transaction.get_amount }} to {{ transaction.get_internal_payment_for }}</span>
                {% else %}
                <div class="table-container">
                    <table style="border-color: transparent;">
                        <tbody>
                            {% for share in transaction.shares.all %}
                                <tr style="font-size: 0.95rem;">
                                    <td>{{ share.user.username }}</td>
                                    <td>paid</td>
                                    <td style="text-align: center;{% if share.amount_paid > 0 %}background-color: var(--success-light-3);{% endif %}"><strong>{{ transaction_group.currency }}{{ share.get_amount_paid }}</strong></td>
                                    <td>and owed</td>
                                    <td style="text-align: center;{% if share.amount_owed > 0 %}background-color: var(--error-light-3);{% endif %}"><strong>{{ transaction_group.currency }}{{ share.get_amount_owed }}</strong></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="floating-popup-container hidden" id="invite-people-popup-container">
        <div class="floating-popup flexbox-column pad-20">
            <span>Share this code with the people you want to invite: <code style="font-size: 1.2rem; margin-left: 5px;">{{ transaction_group.code }}</code></span>
            <span class="mt-20">Ask them to enter it on <a class="a" href="{% url 'core:transaction_group_list' %}" target="_blank">this page.</a></span>

            <div class="flexbox-row ajc mt-20">
                <button class="cta-button space-lr" id="copy-invite-code" style="padding: 2px 7px;" data-code="{{ transaction_group.code }}">Copy Code</button>
                <button class="cta-button space-lr" id="copy-invite-link" style="padding: 2px 7px;" data-link="{{ request.get_host }}{% url 'core:transaction_group_join' %}?code={{ transaction_group.code|urlencode }}">Copy Invite Link</button>
            </div>
            <span class="mt-20 center hidden" id="copy-success-message" style="text-align: center;">Copied! 🎉</span>
        </div>
    </div>

    <div id="add-transaction-popup-container" class="floating-popup-container hidden">
        <div class="floating-popup flexbox-column pad-20 hide-scrollbar">
            <strong style="font-size: 1.2rem;">Add a Transaction</strong>
            <form action="{% url 'core:transaction_create' transaction_group.pk %}" method="POST" id="add-transaction-form" class="flexbox-column">
                {% csrf_token %}
                <input type="hidden" name="internal-payment" value="false">

                <label for="id_transaction_name">Transaction Name (optional):</label>
                <input type="text" name="name" id="id_transaction_name" placeholder="Transaction Name" autocomplete="false">

                <label for="id_transaction_amount">Amount ({{ transaction_group.currency }}):</label>
                <input type="number" name="amount" id="id_transaction_amount" required>

                <label for="id_transaction_date">Date:</label>
                <input type="datetime-local" name="date" id="id_transaction_date" required>

                <label for="id_transaction_by">By:</label>
                <select name="by" id="id_transaction_by" required>
                    {% for user in transaction_group.users.all %}
                        <option value="{{ user.username }}" {% if request.user.username == user.username %}selected{% endif %}>{{ user.username }}</option>
                    {% endfor %}
                </select>

                <label for="id_transaction_for">For:</label>
                <select name="for" id="id_transaction_for" multiple>
                    {% for user in transaction_group.users.all %}
                        <option value="{{ user.username }}" selected>{{ user.username }}</option>
                    {% endfor %}
                </select>

                <button class="flexbox-row ajc cta-button mt-20" id="create-transaction-button">
                    <span class="material-symbols-outlined">payments</span>
                    <span>Add Transaction</span>
                </button>
            </form>
        </div>
    </div>

    <div id="add-internal-payment-popup-container" class="floating-popup-container hidden">
        <div class="floating-popup flexbox-column pad-20 hide-scrollbar">
            <form action="{% url 'core:transaction_create' transaction_group.pk %}" method="POST" id="add-internal-payment-form" class="flexbox-column">
                {% csrf_token %}
                <input type="hidden" name="internal-payment" value="true">

                <label for="id_internal_payment_amount">Amount ({{ transaction_group.currency }}):</label>
                <input type="number" name="amount" id="id_internal_payment_amount" required>

                <label for="id_internal_payment_date">Date:</label>
                <input type="datetime-local" name="date" id="id_internal_payment_date" required>

                <label for="id_internal_payment_by">By:</label>
                <select name="by" id="id_internal_payment_by" required>
                    {% for user in transaction_group.users.all %}
                        <option value="{{ user.username }}" {% if request.user.username == user.username %}selected{% endif %}>{{ user.username }}</option>
                    {% endfor %}
                </select>

                <label for="id_internal_payment_for">To:</label>
                <select name="for" id="id_internal_payment_for">
                    {% for user in transaction_group.users.all %}
                        <option value="{{ user.username }}">{{ user.username }}</option>
                    {% endfor %}
                </select>

                <button class="flexbox-row ajc cta-button mt-20" id="create-internal-payment-button">
                    <span class="material-symbols-outlined">payments</span>
                    <span>Add Payment</span>
                </button>
            </form>
        </div>
    </div>

    <h1 class="mbt-10">{{ transaction_group.name }}</h1>
    <span class="flexbox-row aic jcfs">
        <code>{{ transaction_group.code }}</code>
        <span class="space-lr">&bullet;</span>
        <code>{{ transaction_group.currency }}</code>
        <span class="space-lr">&bullet;</span>
        <button style="border-bottom: 2px solid var(--primary); padding: 0; cursor: pointer;" class="popup-trigger-button" data-popup-container-id="invite-people-popup-container">Invite People</button>
    </span>

    <div class="column-twothird center">
        <div class="transaction-group-breakdown pad-10 mt-20 table-container">
            <table>
                <tbody>
                    {% for user in transaction_group.users.all %}
                        <tr class="payment-share-row" data-username="{{ user.username }}" style="cursor: pointer;">
                            <td>{{ user.username }}</td>
                            <td style="text-align: right; padding-right: 10px;">
                                <strong id="user-{{ user.username }}-share" class="payment-share-cell" data-username="{{ user.username }}">0</strong>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flexbox-row ajc" style="background-color: var(--background-color); position: sticky; top: 0; padding-top: 10px;">
            <button id="add-transaction-button" class="cta-button space-lr flexbox-row ajc popup-trigger-button" style="padding: 2px; font-size: 0.9rem;" data-popup-container-id="add-transaction-popup-container">
                <span class="material-symbols-outlined">payments</span>
                <span style="margin-right: 7px;">Transaction</span>
            </button>
            <button id="add-payment-button" class="space-lr flexbox-row ajc secondary-button popup-trigger-button" data-popup-container-id="add-internal-payment-popup-container">
                <span class="material-symbols-outlined" style="font-size: 0.95rem;">currency_exchange</span>
                <span>Internal Payment</span>
            </button>
        </div>
    </div>

    <div class="flexbox-column column-twothird center transactions-list pad-10 mt-20">
        <div class="flexbox-row aic jcsb mb-10">
            <div id="search-transactions-container" class="flexbox-row aic">
                <input type="text" name="search-transactions" id="search-transactions" placeholder="Search for transactions" style="padding: 5px;">
            </div>

            <span class="flexbox-row ajc" id="payment-record-pages" style="margin-right: 10px;">
                {% if page_obj.has_previous %}
                    <a href="{% url 'core:transaction_group_detail' transaction_group.pk %}?page={{ page_obj.previous_page_number }}" class="pagination-page space-lr">
                        <span class="material-symbols-outlined">chevron_left</span>
                    </a>
                {% endif %}
                <span class="space-lr">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="{% url 'core:transaction_group_detail' transaction_group.pk %}?page={{ page_obj.next_page_number }}" class="pagination-page space-lr">
                        <span class="material-symbols-outlined">chevron_right</span>
                    </a>
                {% endif %}
            </span>
        </div>

        {% for transaction in page_obj %}
            <div class="transaction-container flexbox-row aic jcsb pad-10 popup-trigger-button" data-popup-container-id="transaction-popup-container-{{ transaction.pk }}">
                <div class="flexbox-column">
                    <strong>{{ transaction.title }}</strong>
                    {% with transaction.get_share_count as count %}
                    <span style="font-size: 0.9rem;">By {{ transaction.by.username }} {% if transaction.is_internal_payment %}to {{ transaction.get_internal_payment_for }}{% else %}for {{ count }} {{ count|pluralize:"person,people" }}{% endif %}</span>
                    {% endwith %}
                </div>
                <strong style="font-size: 1.5rem;">{{ transaction_group.currency }}{{ transaction.get_amount }}</strong>
            </div>
        {% empty %}
            <strong class="center mt-30">No transactions yet 💸</strong>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/transaction_group_detail.js' %}"></script>
    <script>
        const transactionDateInput = document.querySelector('#id_transaction_date');
        const internalPaymentDateInput = document.querySelector('#id_internal_payment_date');
        const now = new Date();
        transactionDateInput.value = now.toISOString().slice(0, 16);
        internalPaymentDateInput.value = now.toISOString().slice(0, 16);
    </script>
{% endblock %}