{% extends 'layout.html' %}
{% load static %}

{% block title %}Split | hrus.in{% endblock %}

{% block hidden %}
    <input type="hidden" name="transaction-group-share-url" id="transaction-group-share-url" value="{% url 'api:transaction_group_summary' transaction_group.pk %}">
    <input type="hidden" name="transaction-group-currency" id="transaction-group-currency" value="{{ transaction_group.currency }}">
{% endblock %}

{% block body %}
    <div id="add-transaction-popup-container" class="floating-popup-container hidden">
        <div class="floating-popup flexbox-column pad-20 hide-scrollbar">
            <strong style="font-size: 1.2rem;">Add a Transaction</strong>
            <form action="{% url 'core:transaction_create' transaction_group.pk %}" method="POST" id="add-transaction-form" class="flexbox-column">
                {% csrf_token %}
                <label for="id_name">Transaction Name (optional):</label>
                <input type="text" name="name" id="id_name" placeholder="Transaction Name" autocomplete="false">

                <label for="id_amount">Amount ({{ transaction_group.currency }}):</label>
                <input type="number" name="amount" id="id_amount" required>

                <label for="id_date">Date:</label>
                <input type="datetime-local" name="date" id="id_date" required>

                <label for="id_by">By:</label>
                <select name="by" id="id_by" required>
                    {% for user in transaction_group.users.all %}
                        <option value="{{ user.username }}" {% if request.user.username == user.username %}selected{% endif %}>{{ user.username }}</option>
                    {% endfor %}
                </select>

                <label for="id_for">For:</label>
                {% for user in transaction_group.users.all %}
                    <div class="flexbox-row aic transaction-for-option">
                        <input type="checkbox" name="for" id="id_for_{{ user.username }}" checked>
                        <label for="id_for_{{ user.username }}" style="margin-top: 0; margin-left: 4px;">{{ user.username }}</label>
                    </div>
                {% endfor %}

                <button class="flexbox-row ajc cta-button mt-20" id="create-transaction-button" type="button">
                    <span class="material-symbols-outlined">payments</span>
                    <span>Add Transaction</span>
                </button>
            </form>
        </div>
    </div>

    <h1 class="mbt-10">{{ transaction_group.name }}</h1>
    <span class="flexbox-row aic jcfs">
        <code>{{ transaction_group.code }}</code>
        <span class="space-lr">&bullet;</span>
        <code>{{ transaction_group.currency }}</code>
        <span class="space-lr">&bullet;</span>
        <button style="border-bottom: 2px solid var(--primary); padding: 0; cursor: pointer;">Invite People</button>
    </span>

    <div class="column-twothird center">
        <div class="transaction-group-breakdown pad-10 mt-20 table-container">
            <table>
                <tbody>
                    {% for user in transaction_group.users.all %}
                        <tr class="payment-share-row" data-username="{{ user.username }}" style="cursor: pointer;">
                            <td>{{ user.username }}</td>
                            <td style="text-align: right; padding-right: 10px;">
                                <strong id="user-{{ user.username }}-share" class="payment-share-cell" data-username="{{ user.username }}">0</strong>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flexbox-row ajc" style="background-color: var(--background-color); position: sticky; top: 0; padding-top: 10px;">
            <button id="add-transaction-button" class="cta-button space-lr flexbox-row ajc popup-trigger-button" style="padding: 2px; font-size: 0.9rem;" data-popup-container-id="add-transaction-popup-container">
                <span class="material-symbols-outlined">payments</span>
                <span style="margin-right: 7px;">Transaction</span>
            </button>
            <button id="add-payment-button" class="space-lr flexbox-row ajc secondary-button">
                <span class="material-symbols-outlined" style="font-size: 0.95rem;">currency_exchange</span>
                <span>Internal Payment</span>
            </button>
        </div>
    </div>


    <div class="flexbox-column column-twothird center transactions-list pad-10 mt-20">
        <span class="flexbox-row aic jcfe mb-10">
            <span class="flexbox-row ajc" id="payment-record-pages" style="margin-right: 10px;">
                {% if page_obj.has_previous %}
                    <a href="{% url 'core:transaction_group_detail' transaction_group %}?page={{ page_obj.previous_page_number }}" class="pagination-page space-lr">
                        Previous Page
                    </a>
                {% endif %}
                <span class="space-lr">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="{% url 'core:transaction_group_detail' transaction_group %}?page={{ page_obj.next_page_number }}" class="pagination-page space-lr">
                        Next Page
                    </a>
                {% endif %}
            </span>
        </span>

        {% for transaction in page_obj %}
            <div class="transaction-container flexbox-row aic jcsb pad-10">
                <div class="flexbox-column">
                    <strong>{{ transaction.title }}</strong>
                    {% with transaction.get_share_count as count %}
                    <span style="font-size: 0.9rem;">By {{ transaction.by.username }} for {{ count }} {{ count|pluralize:"person,people" }}</span>
                    {% endwith %}
                </div>
                <strong style="font-size: 1.5rem;">{{ transaction_group.currency }}{{ transaction.get_amount }}</strong>
            </div>
        {% empty %}
            <strong class="center mt-30">No transactions yet 💸</strong>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/transaction_group_detail.js' %}"></script>
{% endblock %}