{% extends 'layout.html' %}

{% block title %}Log In | Split{% endblock %}

{% block body %}
    <div class="flexbox-column ajc" style="flex-grow: 1;">
        {% if form.errors %}
            <span class="mbt-10 error-message">Your username and password didn't match. Please try again.</span>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <span class="mbt-10 warning-message">
                    You don't have access to this page from this account.
                </span>
            {% else %}
                <span class="mbt-10 warning-message">Please login to see this page.</span>
            {% endif %}
        {% endif %}

        <form action="{% url 'users:login' %}" method="POST" class="flexbox-column pad-30 login-form" style="min-width: 300px;">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}

            {{ form.password.label_tag }}
            {{ form.password }}

            <button type="submit" class="cta-button mt-20">Log In</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <div class="mt-30 flexbox-column ajc">
            <span class="mb-5">Don't have an account?</span>
            <a href="{% url 'users:register' %}" class="a">Create an account</a>
        </div>
    </div>
{% endblock %}